---

type Variants = 'default' | 'primary' | 'secondary' | 'error' | 'warning' | 'success'

interface Props {
  variant?: Variants
}

const { variant = 'default' } = Astro.props
---

<div 
  class="docs-callout flex flex-col p-4 rounded-lg"
  class:list={[
    variant === 'default' && 'bg-gray-200 dark:bg-gray-800',
    variant === 'primary' && 'bg-blue-100 dark:bg-blue-800',
    variant === 'secondary' && 'bg-gray-100 dark:bg-gray-800',
    variant === 'error' && 'bg-red-100 dark:bg-red-800',
    variant === 'warning' && 'bg-amber-100 dark:bg-[#97894b52]',
    variant === 'success' && 'bg-green-100 dark:bg-green-800'
  ]}
>
  <slot></slot>
</div>


<style is:global>
  .docs-callout > p {
    @apply !m-0;
  }
  .docs-callout :is(code) {
    @apply !bg-transparent !p-0;
  }
</style>