---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {
  isDark?: boolean
  class?: string
}

const { isDark = false, ...attrs } = Astro.props
---

<div
  class:list={[
    'example-docs border border-gray-200 dark:border-gray-800',
    isDark ? 'bg-gray-950 dark:bg-gray-950' : 'bg-white dark:bg-gray-950',
    attrs.class
  ]}
  {...attrs}
>
  <slot />
</div>

<style is:global>

  .example-docs {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.25rem;
    padding-top: 4rem;
    border-width: 1px;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    position: relative;
  }
  .example-docs::after {
    top: 1rem;
    left: 1.5rem;
    content: "EXAMPLE";
    font-size: 0.75rem;
    font-weight: 600;
    color: #6d7785;
    position: absolute;
    z-index: 1;
  }
  .example-docs p {
    margin: 0;
  }

  /** Modal example */
  .example-docs.example-modal-docs {
    @apply bg-gray-200 dark:bg-[#ffffff1a];
  }
  .example-docs.example-modal-docs .astroui-modal {
    position: inherit !important;
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
    z-index: 1 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .example-docs.example-modal-docs .astroui-modal .astroui-modal-backdrop {
    position: inherit !important;
    display: none !important;
    opacity: 0 !important;
  }
  .example-docs.example-modal-docs .astroui-modal.fade .astroui-modal-content {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .example-doc.example-modal-docs .astroui-modal .astroui-modal-content{
    position: relative !important;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
    max-height: none !important;
    height: auto !important;
    margin: 0 !important;
  }
  @media (min-width: 576px){
    .example-docs.example-modal-docs .astroui-modal .astroui-modal-content {
      margin: 0 !important;
    }
  }

  /** Popover */

  .example-docs.example-popover-docs .astroui-popover, .example-docs.example-dropdown-docs .astroui-dropdown{
    position: relative !important;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
  }
  .example-docs.example-popover-docs .astroui-popover .astroui-popover-content, .example-docs.example-dropdown-docs .astroui-dropdown .astroui-dropdown-content{
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1) !important;
  }

</style>
