---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name='generator' content={Astro.generator} />
    <title>{title ? `Astro ui - ${title}` : 'Astro ui'}</title>
    <script src='../script/theme.js'></script>
    
    
  </head>
  
  <script>
    if ( localStorage.getItem("color-theme") === "dark" || (!("color-theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches) ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
    </script>
    <script src="../script/cursor-effect.js"></script>
  <body>
    <slot />
  </body>
  </html>
  


<style is:global>

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

  :root {
    --font-family: 'Inter', sans-serif;
    --font-size: 1rem;
    --bg: white;
    --color: black;
  }
  
  html.dark {
    --bg: #030712;
    --color: theme(colors.gray.100);
  }

  html, body {
    font-family: var(--font-family);
  }

  body {
    background-color: var(--bg);
    color: var(--color);
  }

  .cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    inset: 0px auto auto 0px;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transform: transform 0.3s ease;
    background-color: rgba(139, 161, 247, 0.064);
    mix-blend-mode: difference;
  }
  .dark .cursor {
    filter: blur(100px);
    background-color: rgba(139, 161, 247, 0.121);
    width: 260px;
    height: 260px;
  }

</style>