---
type Size = 'xs' | 'sm' | 'md'
type Variant = 'success' | 'error'

interface ClassNames {
  root: string;
  content: string;
}
interface Props {
  message?: string;
  size?: Size;
  type?: Variant;
  id?: string;
  classNames?: ClassNames;
}

const cx = (...args) => args.filter(Boolean).join(' ')

const classList = {
  root: [],
  content: []
}
const {
  message,
  size = 'md',
  type = 'success',
  classNames = classList,
  ...attrs
} = Astro.props;
---

<div
  role='alert'
  class:list={[
    'astroui-alert',

    type === 'success' && 'astroui-alert-success',
    type === 'error' && 'astroui-alert-error',

    size === 'xs' && 'astroui-alert-xs',
    size === 'sm' && 'astroui-alert-sm',
    size === 'md' && 'astroui-alert-md',

    cx(classNames.root)
  ]}
  {...attrs}
>
  {message
    ? <div class:list={[ 'astroui-alert-content', cx(classNames.content) ]}>{message}</div>
    : <div class:list={[ 'astroui-alert-content', cx(classNames.content) ]}> <slot></slot></div>
  }
</div>

<script >
  const alertTemplate = document?.getElementById('alertTemplate')

  // Append alert to placeholder

  const appendAlert = (message, type, size) => {
    const wrapper = document.createElement('div')
    wrapper.classList.add('astroui-alert-root')
    wrapper.innerHTML = [
      `<div class="astroui-alert astroui-alert-${type} astroui-alert-${size}" role="alert">`,
      `  <div>${message}</div>`,
      '  <button type="button" class="astroui-alert-close" data-dismiss="alert" aria-label="Close"><svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line> <line x1="6" y1="6" x2="18" y2="18"></line> </svg></button>',
      '</div>'
    ].join('')

    alertTemplate?.append(wrapper)
    const dismissAlert = document?.querySelectorAll('[data-dismiss="alert"]')
    dismissAlert.forEach((button) => {
      button.addEventListener('click', () => {
        wrapper.remove()
      })
    })
  }

  // Trigger alerts

  const alertTrigger = document?.querySelector('[data-toggle="alert"]')

  if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
      appendAlert('Nice, you triggered this alert message!', 'success', 'md')
    })
  }
</script>

<style is:global>
  .astroui-alert {
    @apply w-full flex items-center justify-between relative overflow-hidden rounded-md;
  }

  /** Variants */

  .astroui-alert-success {
    @apply bg-success-light text-green-900;

  }
  .astroui-alert-error {
    @apply bg-error-light text-red-900;
  }

  /** Sizes */

  .astroui-alert-xs {
    @apply text-xs py-1 px-2;
  }

  .astroui-alert-sm {
    @apply text-sm py-1.5 px-3;
  }

  .astroui-alert-md {
    @apply text-base py-2 px-4;
  }

  /** Close button */

  .astroui-alert-close {
    @apply flex justify-center items-center flex-none p-1 rounded-full bg-transparent transition-colors border-none cursor-pointer relative right-[calc(0.25rem_*_-1)] top-[calc(0.25rem_*_0)];
  }
  .astroui-alert-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>
