---
import type { HTMLAttributes } from 'astro/types'

type Size = 'xs' | 'sm' | 'md' | 'lg'
type Variant = 'primary' | 'secondary' | 'success' | 'error' | 'light' | 'dark'

interface Props extends HTMLAttributes <'span'> {
  size?: Size
  variant?: Variant
  pill?: boolean
  class?: string
  inline?: boolean
}

const {
  size = 'sm',
  variant = 'primary',
  pill = false,
  inline = false,
  ...attrs
} = Astro.props
---

<span class:list={[
  !inline && 'astroui-badge',

  !inline && size === 'xs' && 'astroui-badge-xs',
  !inline && size === 'sm' && 'astroui-badge-sm',
  !inline && size === 'md' && 'astroui-badge-md',
  !inline && size === 'lg' && 'astroui-badge-lg',

  !inline && variant === 'primary' && 'astroui-badge-primary',
  !inline && variant === 'secondary' && 'astroui-badge-secondary',
  !inline && variant === 'success' && 'astroui-badge-success',
  !inline && variant === 'error' && 'astroui-badge-error',
  !inline && variant === 'light' && 'astroui-badge-light',
  !inline && variant === 'dark' && 'astroui-badge-dark',

  !inline && pill && 'astroui-badge-pill',

  attrs.class
]}>
  <slot></slot>
</span>

<style is:global>

  .astroui-badge {
    @apply inline-flex items-center justify-center font-medium rounded-md flex-none;
  }

  /** Sizes */

  .astroui-badge.astroui-badge-xs {
    @apply text-xs font-medium h-[20px] min-w-[20px] px-1.5;
  }
  .astroui-badge.astroui-badge-sm {
    @apply text-sm font-medium h-[24px] min-w-[24px] px-1.5;
  }
  .astroui-badge.astroui-badge-md {
    @apply text-base font-medium h-[28px] min-w-[28px] px-2;
  }

  .astroui-badge.astroui-badge-lg {
    @apply text-base font-medium h-[34px] min-w-[34px] px-2.5;
  }
  
  /** Variants */

  .astroui-badge.astroui-badge-primary {
    color: #fff;
    background-color: rgb(109 40 217 / 1);
  }

  .astroui-badge.astroui-badge-secondary {
    @apply text-gray-800 bg-secondary;
  }

  .astroui-badge.astroui-badge-success {
    @apply bg-success text-white;
  }

  .astroui-badge.astroui-badge-error {
    @apply bg-error text-white;
  }

  .astroui-badge.astroui-badge-light {
    @apply bg-gray-100 text-gray-800;
  }

  .astroui-badge.astroui-badge-dark {
    @apply bg-gray-800 text-white dark:bg-gray-600;
  }

  /** Pill */
  .astroui-badge.astroui-badge-pill {
    @apply rounded-full;
  }

</style>