---
import type { HTMLAttributes, CSSProperty } from 'astro/types'

type Variants = 'primary' | 'secondary' | 'error' | 'light' | 'dark' | 'link'
type Sizes = 'xs' | 'sm' | 'md' | 'lg' | 'xl'

interface Props extends HTMLAttributes<'button'> {
  type?: 'button' | 'submit' | 'reset'
  disabled?: boolean
  class?: string
  style?: CSSProperty
  variant?: Variants
  size?: Sizes
  pill?: boolean
  isLoading?: boolean
  inline?: boolean
}

const {
  type = 'button',
  disabled,
  style,
  variant = 'primary',
  size = 'md',
  pill = false,
  isLoading = false,
  inline = false,
  ...attrs
} = Astro.props

---
<button
  type={type}
  disabled={disabled}
  style={style}
  class:list={[
    !inline && 'astroui-button',
    !inline && size === 'xs' && 'astroui-button-xs',
    !inline && size === 'sm' && 'astroui-button-sm',
    !inline && size === 'md' && 'astroui-button-md',
    !inline && size === 'lg' && 'astroui-button-lg',
    !inline && size === 'xl' && 'astroui-button-xl',

    !inline && variant === 'primary' && 'astroui-button-primary',
    !inline && variant === 'secondary' && 'astroui-button-secondary',
    !inline && variant === 'error' && 'astroui-button-error',
    !inline && variant === 'light' && 'astroui-button-light',
    !inline && variant === 'dark' && 'astroui-button-dark',
    !inline && variant === 'link' && 'astroui-button-link',

    !inline && pill && 'astroui-button-pill',
    !inline && isLoading && 'pointer-events-none opacity-75',
    disabled && 'opacity-40 pointer-events-none',

    attrs.class,
  ]}
  {...attrs}
>
  <span class='flex items-center justify-center space-x-2'>
    <slot />
  </span>
</button>



<style is:global>

  :root {
    --astroui-button-primary: rgb(91 33 182 / 1);
  }
  .astroui-button {
    @apply appearance-none flex whitespace-nowrap select-none items-center justify-center rounded-md border-none font-medium outline-none focus:ring-2 transition-all duration-300 ease-in-out;
  }

  /** Primary */
  .astroui-button-primary {
    @apply bg-primary hover:bg-primary-dark text-white focus:ring-primary;
  }

  /** Secondary */
  .astroui-button-secondary {
    @apply bg-secondary hover:bg-secondary-dark text-black focus:ring-gray-400;
  }

  /** Error */
  .astroui-button-error {
    @apply bg-error text-white hover:bg-error-dark focus:ring-error;
  }
    
  /** Light */
  .astroui-button-light {
    @apply bg-white text-black hover:bg-gray-100 focus:ring-gray-400;
  }

  /** Dark */
  .astroui-button-dark {
    @apply bg-black text-white hover:bg-gray-900 focus:ring-dark dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-400;
  }

  /** Link */
  .astroui-button-link {
    @apply bg-transparent text-black focus:ring-primary dark:text-white dark:focus:ring-gray-400;
  }
  

  /** Sizes */
  .astroui-button-xs {
    @apply text-xs font-medium h-6 px-2;
  }
  .astroui-button-sm {
    @apply text-sm font-medium h-8 px-3;
  }
  .astroui-button-md {
    @apply text-base font-medium h-10 px-4;
  }
  .astroui-button-lg {
    @apply text-base font-medium h-11 px-5;
  }
  .astroui-button-xl {
    @apply text-lg font-medium h-14 px-6;
  }

  /** Pill */
  .astroui-button-pill {
    @apply rounded-full;
  }

  
</style>
