---
import type { HTMLAttributes, CSSProperty } from 'astro/types'

type Variants = 'primary' | 'secondary' | 'error' | 'light' | 'dark'
type Sizes = 'xs' | 'sm' | 'md' | 'lg' | 'xl'

interface Props extends HTMLAttributes<'button'> {
  type?: 'button' | 'submit' | 'reset'
  disabled?: boolean
  class?: string
  style?: CSSProperty
  children?: string
  variant?: Variants
  size?: Sizes
  pill?: boolean
  isLoading?: boolean
  inline?: boolean
}

const {
  type,
  disabled,
  style,
  variant = 'primary',
  size = 'md',
  pill = false,
  isLoading = false,
  inline = false,
  ...attrs
} = Astro.props

---

<button
  type={type}
  disabled={disabled}
  style={style}
  class:list={[
    !inline && 'astroui-button',
    !inline && size === 'xs' && 'astroui-button-xs',
    !inline && size === 'sm' && 'astroui-button-sm',
    !inline && size === 'md' && 'astroui-button-md',
    !inline && size === 'lg' && 'astroui-button-lg',
    !inline && size === 'xl' && 'astroui-button-xl',

    !inline && variant === 'primary' && 'astroui-button-primary',
    !inline && variant === 'secondary' && 'astroui-button-secondary',
    !inline && variant === 'error' && 'astroui-button-error',
    !inline && variant === 'light' && 'astroui-button-light',
    !inline && variant === 'dark' && 'astroui-button-dark',

    pill && 'astroui-button-pill',
    isLoading && 'pointer-events-none opacity-75',
    disabled && 'opacity-40 pointer-events-none',

    attrs.class,
  ]}
  {...attrs}
>
  <span class='flex items-center justify-center space-x-2'>
    <slot />
  </span>
</button>



<style is:global>

  :root {
    --astroui-button-primary: rgb(91 33 182 / 1);
  }
  .astroui-button {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
  }

  /* Focus */

  .astroui-button:focus {
    border-color: rgb(91 33 182 / 1);
    box-shadow: 0 0 #0000, 0 0 0 calc(2px + 0px) rgb(91 33 182 / 1), 0 0 #0000;
  }

  /* Primary */
  .astroui-button-primary {
    background-color: rgb(109 40 217 / 1);
    color: rgb(255 255 255 / 1);
  }
  .astroui-button-primary:hover {
    background-color: rgb(91 33 182 / 1);
  }

  /* Secondary */
  .astroui-button-secondary {
    color: rgb(31 41 55 / 1);
    border-color: rgb(209 213 219 / 1);
    background-color: rgb(255 255 255 / 1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
  .astroui-button-secondary:hover {
    border-color: rgb(156 163 175 / 1);
    background-color: rgb(249 250 251 / 1);
  }

  /* Error */

  .astroui-button-error {
    background-color: rgb(210 15 86 / 1);
    color: rgb(255 255 255 / 1);
  }
  .astroui-button-error:hover {
    background-color: rgb(173, 4, 66);
  }
  .astroui-button-error:focus {
    border-color: rgb(210 15 86 / 1);
    box-shadow: 0 0 #0000, 0 0 0 calc(2px + 0px) rgb(210 15 86 / 1), 0 0 #0000;
  }

  /* Light */

  .astroui-button-light {
    color: rgb(31 41 55 / 1);
    border-color: rgb(209 213 219 / 1);
    background-color: rgb(255 255 255 / 1);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
  .astroui-button-light:hover {
    border-color: rgb(156 163 175 / 1);
    background-color: rgb(249 250 251 / 1);
  }
  .astroui-button-light:focus {
    border-color: rgb(209 213 219 / 1);
    box-shadow: 0 0 #0000, 0 0 0 calc(2px + 0px) rgb(209 213 219 / 1), 0 0 #0000;
  }

  /** Sizes */

  .astroui-button-xs {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }
  .astroui-button-sm {
    height: 1.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .astroui-button-md {
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .astroui-button-lg {
    height: 2.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .astroui-button-xl {
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;;
  }

  /** Pill */

  .astroui-button-pill {
    border-radius: 9999px;
  }

</style>
