---
import type { HTMLAttributes, CSSProperty } from 'astro/types'

type Variants = 'primary' | 'secondary' | 'error' | 'light' | 'dark'
type Sizes = 'xs' | 'sm' | 'md' | 'lg' | 'xl'

interface Props extends HTMLAttributes<'button'> {
  disabled?: boolean
  class?: string
  style?: CSSProperty
  variant?: Variants
  size?: Sizes
  rounded?: boolean
  isLoading?: boolean
  inline?: boolean
}

const {
  inline = false,
  variant = 'secondary',
  size = 'md',
  rounded = false
} = Astro.props

---

<button
  type='button'
  class:list={[
    'astroui-icon-button',

    !inline && variant === 'primary' && 'astroui-icon-button--primary',
    !inline && variant === 'secondary' && 'astroui-icon-button--secondary',
    !inline && variant === 'error' && 'astroui-icon-button--error',
    !inline && variant === 'light' && 'astroui-icon-button--light',
    !inline && variant === 'dark' && 'astroui-icon-button--dark',

    !inline && size === 'xs' && 'astroui-icon-button--xs',
    !inline && size === 'sm' && 'astroui-icon-button--sm',
    !inline && size === 'md' && 'astroui-icon-button--md',
    !inline && size === 'lg' && 'astroui-icon-button--lg',
    !inline && size === 'xl' && 'astroui-icon-button--xl',

    !inline && rounded && 'astroui-icon-button--rounded'
  ]}
>
  <slot />
</button>

<style is:global>

  .astroui-icon-button {
    @apply inline-flex items-center justify-center border border-transparent rounded-md focus:outline-none outline-none focus:ring-2 transition-all duration-300 ease-in-out;
  }

  /** Variants */

  .astroui-icon-button.astroui-icon-button--primary {
    @apply text-white bg-primary hover:bg-primary-dark focus:ring-primary;
  }
  .astroui-icon-button.astroui-icon-button--secondary {
    @apply text-black bg-secondary hover:bg-secondary-dark focus:ring-gray-400;
  }
  .astroui-icon-button.astroui-icon-button--error {
    @apply text-white bg-error hover:bg-error-dark focus:ring-error;
  }
  .astroui-icon-button.astroui-icon-button--light {
    @apply bg-gray-50 hover:bg-gray-100 focus:ring-white text-black;
  }
  .astroui-icon-button.astroui-icon-button--dark {
    @apply bg-black text-white hover:bg-gray-900 focus:ring-dark dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-400;
  }

  /** Sizes */

  .astroui-icon-button.astroui-icon-button--xs {
    @apply h-6 w-6;
  }
  .astroui-icon-button.astroui-icon-button--sm {
    @apply h-8 w-8;
  }
  .astroui-icon-button.astroui-icon-button--md {
    @apply h-10 w-10;
  }
  .astroui-icon-button.astroui-icon-button--lg {
    @apply h-11 w-11;
  }
  .astroui-icon-button.astroui-icon-button--xl {
    @apply h-14 w-14;
  }

  /** Rounded */

  .astroui-icon-button.astroui-icon-button--rounded {
    @apply rounded-full;
  }

</style>
