---
import type { HTMLAttributes } from 'astro/types'

type Variant = 'primary' | 'secondary' | 'light' | 'dark'
type Sizes = 'xs' | 'sm' | 'md' | 'lg' | 'xl' | '2xl' | '3xl' | '4xl' | '5xl'

export interface Props extends HTMLAttributes<'div'> {
  variant?: Variant
  size?: Sizes
  growing?: boolean
}

const {
  size = 'md',
  variant = 'primary',
  growing = false,
  ...attrs
} = Astro.props

---

<div
  class:list={{
    
    [growing === true ? 'astroui-spinner-growing' : 'astroui-spinner'] : true,
    
    'astroui-spinner-xs': size === 'xs',
    'astroui-spinner-sm': size === 'sm',
    'astroui-spinner-md': size === 'md',
    'astroui-spinner-lg': size === 'lg',
    'astroui-spinner-xl': size === 'xl',
    'astroui-spinner-2xl': size === '2xl',
    'astroui-spinner-3xl': size === '3xl',
    'astroui-spinner-4xl': size === '4xl',
    'astroui-spinner-5xl': size === '5xl',

    'astroui-spinner-primary': variant === 'primary',
    'astroui-spinner-secondary': variant === 'secondary',
    'astroui-spinner-light': variant === 'light',
    'astroui-spinner-dark': variant === 'dark',

    'astroui-spinner-growing': growing,


  }}
  {...attrs}
>
  <span class='sr-only'>Loading...</span>
</div>

<style>

  .spinner {
    --border-radius: 9999px;
    --border-width: 2px;
    --border-color: #0000001b;

    --primary: rgba(67 56 202 / 1);
    --secondary: rgba(75 85 99 / 1);
    --light: #f9fafb;
    --dark: #1f2937;
  }

  
  .astroui-spinner {
    @apply inline-flex flex-none border-2 dark:border-white/20 border-black/20 rounded-full animate-spin;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  /** Sizes */

  .astroui-spinner.astroui-spinner-xs, .astroui-spinner-growing.astroui-spinner-xs {
    width: 1rem;
    height: 1rem;
  }

  .astroui-spinner.astroui-spinner-sm, .astroui-spinner-growing.astroui-spinner-sm {
    width: 1.25rem;
    height: 1.25rem;
  }

  .astroui-spinner.astroui-spinner-md, .astroui-spinner-growing.astroui-spinner-md {
    width: 1.5rem;
    height: 1.5rem;
  }

  .astroui-spinner.astroui-spinner-lg, .astroui-spinner-growing.astroui-spinner-lg {
    width: 1.75rem;
    height: 1.75rem;
  }

  .astroui-spinner.astroui-spinner-xl, .astroui-spinner-growing.astroui-spinner-xl {
    width: 2rem;
    height: 2rem;
  }

  .astroui-spinner.astroui-spinner-2xl, .astroui-spinner-growing.astroui-spinner-2xl {
    width: 2.25rem;
    height: 2.25rem;
  }

  .astroui-spinner.astroui-spinner-3xl, .astroui-spinner-growing.astroui-spinner-3xl {
    width: 3rem;
    height: 3rem;
  }
  .astroui-spinner.astroui-spinner-3xl, .astroui-spinner.astroui-spinner-4xl,.astroui-spinner.astroui-spinner-5xl{
    @apply border-[3px];
  }

  .astroui-spinner.astroui-spinner-4xl, .astroui-spinner-growing.astroui-spinner-4xl {
    width: 3.5rem;
    height: 3.5rem;
  }

  .astroui-spinner.astroui-spinner-5xl, .astroui-spinner-growing.astroui-spinner-5xl {
    width: 4rem;
    height: 4rem;
  }

  /** Variants */

  .astroui-spinner-primary {
    @apply border-t-primary dark:border-t-violet-400;
  }
  .astroui-spinner-growing.astroui-spinner-primary {
    @apply bg-primary dark:bg-violet-400;
  }

  .astroui-spinner-secondary {
    @apply border-t-secondary dark:border-t-white/50;
  }
  .astroui-spinner-growing.astroui-spinner-secondary {
    @apply bg-secondary;
  }

  .astroui-spinner-light {
    @apply border-white/40 border-t-white;
  }
  .astroui-spinner-growing.astroui-spinner-light {
    @apply bg-white;
  }

  .astroui-spinner-dark {
    @apply border-t-black border-black/10 dark:border-white/20 dark:border-t-white/50; 
  }
  .astroui-spinner-growing.astroui-spinner-dark {
    @apply bg-black dark:bg-white/50;
  }

  /** Growing */

  .astroui-spinner-growing {
    @apply inline-block rounded-full opacity-0 animate-growing;
  }

</style>
