---
import type { HTMLAttributes, CSSProperty } from 'astro/types'

type Variants = 'primary' | 'secondary' | 'success' | 'error' | 'light' | 'dark'
type Sizes = 'xs' | 'sm' | 'md' | 'lg' | 'xl'

interface Props extends HTMLAttributes<'div'> {
  variant?: Variants
  size?: Sizes
  style?: CSSProperty
  fill?: boolean
  icon?: boolean
  class?: string
}

const { 
  variant = 'primary',
  size = 'md',
  fill = true,
  icon = true,
  style, 
  ...attrs 
} = Astro.props
---

<div
  style={style}
  class:list={[
    'astroui-stat',
    variant === 'primary' ? fill ? 'astroui-stat-primary astroui-stat-fill' : 'astroui-stat-primary' : '',
    variant === 'secondary' ? fill ? 'astroui-stat-secondary astroui-stat-fill' : 'astroui-stat-secondary' : '',
    variant === 'success' ? fill ? 'astroui-stat-success astroui-stat-fill' : 'astroui-stat-success' : '',
    variant === 'error' ? fill ? 'astroui-stat-error astroui-stat-fill' : 'astroui-stat-error' : '',
    variant === 'light' ? fill ? 'astroui-stat-light astroui-stat-fill' : 'astroui-stat-light' : '',
    variant === 'dark' ? fill ? 'astroui-stat-dark astroui-stat-fill' : 'astroui-stat-dark' : '',
    
    size === 'xs' ? 'astroui-stat-xs' : '',
    size === 'sm' ? 'astroui-stat-sm' : '',
    size === 'md' ? 'astroui-stat-md' : '',
    size === 'lg' ? 'astroui-stat-lg' : '',
    size === 'xl' ? 'astroui-stat-xl' : '',
    
    attrs.class
  ]}
  {...attrs}
  >
  <span class="astroui-stat-content">
    {icon && (
      <slot name="icon">
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width={
            size === 'xs' ? '14' :
            size === 'sm' ? '16' :
            size === 'md' ? '20' :
            size === 'lg' ? '24' :
            size === 'xl' ? '28' : '20'
          }
          fill='none'
          viewBox='0 0 24 24' stroke='currentColor'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d={variant === 'error'
              ? 'M13 17h8m0 0V9m0 8l-8-8-4 4-6-6'
              : 'M13 7h8m0 0v8m0-8l-8 8-4-4-6 6'
            }
          />
        </svg>
      </slot>
    )}
    <span>
      <slot />
    </span>
  </span>
</div>

<style is:global>

  .astroui-stat {
    @apply inline-flex items-center justify-center;
  }

  /** Content */
  .astroui-stat .astroui-stat-content {
    @apply flex items-center justify-center gap-2 font-medium;
  }

  /** Variants */
  .astroui-stat.astroui-stat-primary.astroui-stat-fill {
    @apply bg-violet-100 text-violet-600 dark:bg-violet-500/40 dark:text-violet-400;
  }
  .astroui-stat.astroui-stat-primary {
    @apply text-violet-600;
  }

  .astroui-stat.astroui-stat-secondary.astroui-stat-fill {
    @apply bg-gray-100 text-gray-600 dark:bg-gray-700 dark:text-gray-100;
  }
  .astroui-stat.astroui-stat-secondary {
    @apply text-gray-500;
  }

  .astroui-stat.astroui-stat-success.astroui-stat-fill {
    @apply bg-green-100 text-green-600 dark:bg-green-500/40 dark:text-green-400;
  }
  .astroui-stat.astroui-stat-success {
    @apply text-green-600;
  }

  .astroui-stat.astroui-stat-error.astroui-stat-fill {
    @apply bg-red-100 text-red-600 dark:bg-red-500/30 dark:text-red-400;
  }
  .astroui-stat.astroui-stat-error {
    @apply text-red-600;
  }

  .astroui-stat.astroui-stat-light.astroui-stat-fill {
    @apply bg-gray-100 text-gray-600;
  }
  .astroui-stat.astroui-stat-light {
    @apply text-gray-400;
  }

  .astroui-stat.astroui-stat-dark.astroui-stat-fill {
    @apply bg-gray-800 text-gray-100 dark:bg-gray-700 dark:text-gray-100;
  }
  .astroui-stat.astroui-stat-dark {
    @apply text-gray-100;
  }

  /** Sizes */

  .astroui-stat.astroui-stat-xs {
    @apply h-5 text-xs pl-1 pr-1 rounded-sm;
  }

  .astroui-stat.astroui-stat-sm {
    @apply h-6 text-sm pl-2 pr-2 rounded-sm;
  }

  .astroui-stat.astroui-stat-md {
    @apply h-7 text-sm pl-3 pr-3 rounded-md;
  }

  .astroui-stat.astroui-stat-lg {
    @apply h-8 text-base pl-4 pr-4 rounded-md;
  }

  .astroui-stat.astroui-stat-xl {
    @apply h-9 text-base pl-5 pr-5 rounded-md;
  }
</style>